@font-face{
  font-family: "AntonioBold";
  src: url("fonts/Antonio-Bold.woff") format("woff");
}
@font-face{
  font-family: "ProBold";
  src: url("fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face{
  font-family: "ProRegular";
  src: url("fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
#green{
  background-color: #336633;
}
#map_table{
    position: relative;
  right: -13%;
  text-align: left;
  width: 92%;

}
.abs{
  position: absolute;
    top: -9%;
}
.abs2{
position: absolute;
  top: 4%;
  right: 0;
}
.derecha{
  text-align: right;
}
#cinco table a{
  color: white;
}
#color_new{
  color: #1E4B73;
}
.map{
  background: url("images/Fondo map.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#conoce{
  background-color: #996633;
    margin-top: 3%;
}
#TSJ{
  background-color: #669966;
}
.color_modal{
  background-color: #FFCC99;
}
#tres #titulo{
  font-size:30px;
  font-family: "ProBold";
  margin-top: 10%;
  margin-bottom: 5%;
}
#tres img{
  margin-top: 5%;
}
.left{
  text-align: left;
}
.subtitulos{
  font-family: "ProBold";
  font-size: 25px;
}
.opt{
  margin-bottom: 37%;
}
.content{
  text-align: center;
  font-family: "ProRegular";
  color: #fff;
}
#cinco .img-pos{
  margin-left: 38%;
    width: 19%;
}
#tres #img-top{
  padding-bottom: 10%;
}
#img-bot{
  margin-top: 17%;
  margin-left: 40%;
}
.hr{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 2px 0;
  margin: 10px 0;
  color: #fff;
  width: 30%;
}
#ocultar{
  visibility: hidden;
}
.slct{
  color: #4f6128;
}
.tipop {
  cursor: pointer;
  font-size: 16px;
  font-family: "AntonioBold";
  color: #345a5f;
}
.selected{
  color: #fff;
}
#o3{
  width:85%;
}
.cl-uno{
  background-color: #949c39;
}
.cl-uno .wraper{
  background: url("images/H1.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cl-dos{
  background-color: #4d9e99;
}
.cl-dos .wraper{
  background: url("images/H2.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cl-tres{
  background-color: #d68585;
}
.cl-tres .wraper{
  background: url("images/H3.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cl-cuatro{
  background-color: #cc9966;
}
.cl-cuatro .wraper{
  background: url("images/H4.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cl-cinco{
  background-color: #99cc99;
}
.cl-cinco .wraper{
  background: url("images/H5.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: 110px -198%;*/
}
.cl-seis{
  background-color: #9999cc;
}
.cl-seis .wraper{
  background: url("images/H6.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cl-siete{
  background-color:  #669999;
}
.cl-siete .wraper{
  background: url("images/H7.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cl-ocho{
  background-color: #999999;
}
.cl-ocho .wraper{
  background: url("images/H8.png") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#text_next_book{
  margin-top: -14%;
  text-align: left;
    margin-left: 2%;

}
#text_down_book{
  text-align: left;
    margin-left: 2%;

}
#text_down_book_2{
  text-align: left;
  margin-top: 2%;
    margin-left: 2%;

}
#cuatro_text{
   margin-top: -6%;
}
#menu-right{
  text-align: right;
}
#menu-right p{

}
#menu-right hr{
  float: right;
  margin-left: 54%;

}
#cuatro_text_quienes{
  margin-left: 17%;

}
#cuatro_text_solicitarla{
  margin-left: 26%;
  }
#links{
  margin-left: 7%;
    text-align: left;
      margin-top: -7%;
}
#uno img{
  margin-left: 27.333%;
}
#uno #titulo{
  color: #345a5f;
  font-family: "AntonioBold";
  font-size: 30px;
}
#uno #titulo div{
  margin-left: 29.33%;
}
#uno .text div{
  margin-left:14%;
}
#tres #titulo{
  font-family: "AntonioBold";
  font-size: 37px;
}
#ocho a {
  font-size: 18px;
}
.cont{
  font-size: 21px;
   margin-top: -2%;
}
.cont_p{
  font-size: 21px;
   margin-top: -2%;
}

.modal-body {
  font-size: 22px;
}
#tit{
  margin-top: 5%;
}
#colr{
  background-color: white;
}
.sp{
  display: none;
}
#uno .hrs{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-style: solid none;
  border-width: 2px 0;
  margin: 10px 0;
  color: #345a5f;
  width: 34%;
  border-width: 7px 0;
  margin-left: 33%;
}
.text{
  font-size: 21px;
}
nav{
  display: none;
}
@media (min-width:1200px){ /* de 1200 para arriba */
  #text_next_book{
    margin-top: -8%;
      margin-left: 2%;

  }
}
@media (max-width: 1199px){
  #uno #titulo{
    font-size:40px;
  }
}
@media (max-width: 991px){
  #cinco .img-pos{
    margin-left: 34%;
  }
  #uno img{
    margin-left: 8%;
  }
  #uno #titulo div{
    margin-left: 9.33%;
  }
  #uno .text div{
    margin-left: 12%;
  }
  .text{
    font-size:  17px;
  
  }
  #map_table{
    right: 10%;
  }
  #uno #titulo{
    font-size:27px;
  }
 
  #text_next_book {
    margin-top: -19%;
  }
  #cuatro_text_solicitarla{
    margin-left: 31%;
  }
  .abs2 {
  position: absolute;
  top: 1%;
  right: 0;
}
.abs {
  position: absolute;
  top: -6%;
}
}
@media (max-width: 1041px){
  #links{
    margin-left: 8%;
  }
  .sp{
    display: block;
  }
}
@media (max-width: 809px){
  #links{
    margin-left: 1%;
  }
}

@media (max-width: 767px){
  .text{
    font-size:  17px;
  }
   #map_table{
    right: 15%;
  }
  #uno .text{
    margin-left: 13%;
  }
  nav{
    display: block;
  }
  #uno .hrs{
    margin-left: 38%;
    width: 25%;
  }
  #cuatro_text{
    margin-left: 15%;
  }
  #cuatro_text_quienes{
      margin-left: 12%;
  }
  .cont{
    font-size: 19px;


  }

.abs {
  position: absolute;
  top: 6%;
}
.abs2{
  visibility: hidden;
}
}
